<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a
      style="font-family: Monoton,cursive"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="navbar-brand"
      [routerLink]="['/home']"
      >Dating App</a
    >
    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/members']">Matches</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">Lists</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link " [routerLink]="['/messages']">Messages</a>
      </li>
    </ul>
    <div *ngIf="!loggedIn()">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link text-light cursor-pointer ml-1"
            [routerLink]="['/register']"
            >Register
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a
            class="nav-link text-light cursor-pointer"
            [routerLink]="['/login']"
            >Login</a
          >
        </li>
      </ul>
    </div>
    <div *ngIf="loggedIn()" class="dropdown ml-1" dropdown>
      <a class="dropdown-toggle text-light cursor-pointer" dropdownToggle>
        <i class="fa fa-user"></i>
        Welcome {{ getUserName() | titlecase }}
      </a>

      <div class="dropdown-menu mt-2" *dropdownMenu>
        <a class="dropdown-item cursor-pointer"
          ><i class="fa fa-user "></i> Update Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item cursor-pointer" (click)="logOut()"
          ><i class="fa fa-sign-out "></i> LogOut</a
        >
      </div>
    </div>
  </div>
</nav>
